*{
    padding:0;
    margin:0;
}
body{
    background-color: rgb(243, 243, 243);
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    animation: showAnimation  1s infinite;
    animation-iteration-count: 1;
}
#topnav-ul{
    list-style-type: none;
}
#topnav{
    width: 100%;
    margin-top:30px;
    text-align: center;
}
.topnav-li{
    display: inline-block;
    padding:10px 30px;
    margin-left:10px;
    margin-right: 10px;
}
.topnav-a{
    text-decoration: none;
    color:rgb(19, 19, 19);
}
.topnav-li:hover{
    background-color: rgb(255, 36, 128) !important;
    border-radius: 20px;
}
.underline{
    width: 75%;
    visibility: hidden;
    position: relative;
    height: 1px;
    background-color: rgb(19, 19, 19);
}
@keyframes underlineAnimation{
    from{
        width: 0%;
        opacity:0;
    }
    to{
        width: 75%;
        opacity: 1.0;
    }
}
.topnav-a:hover>.underline{
    visibility: visible;
    animation: underlineAnimation 1s infinite;
    animation-iteration-count: 1;
}
@keyframes showAnimation{
    from{
        margin-top:-300px;
        opacity:0;
    }
    to{
        margin-top:00px;
        opacity: 1;
    }
}
#start{
    margin-top:100px;
    width: 100%;
}
#left{
    float:left;
    width: 50%;
}
#right{
    float:right;
    width: 50%;
}
#phone{
    transform: translate(-50%,0);
    position: absolute;
    left:25%;
    z-index:5;
}
#circle1{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    left:25%;
    z-index:4;
    transform: translate(-50%,-50%);
    top:550px;
    background-color: rgb(255, 36, 128);
    opacity: 0.6;
    animation:circle1Animation1 6s infinite;
}
#circle2{
    top:550px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    left:25%;
    z-index:3;
    transform: translate(-50%,-50%);
    background-color: rgb(233, 0, 221);
    opacity: 0.6;
    animation:circle1Animation2 7s infinite;
}
#circle3{
    top:550px;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    position: absolute;
    left:25%;
    z-index:2;
    transform: translate(-50%,-50%);
    background-color: rgb(179, 0, 233);
    opacity: 0.5;
    animation:circle1Animation3 8s infinite;
}
@keyframes circle1Animation1{
    from{
        width: 450px;
        height: 450px;
    }
    50%{
        width: 250px;
        height: 250px;
    }
    to{
        width: 450px;
        height: 450px;
    }
}
@keyframes circle1Animation2{
    from{
        width: 550px;
        height: 550px;
    }
    50%{
        width: 350px;
        height: 350px;
    }
    to{
        width: 550px;
        height: 550px;
    }
}
@keyframes circle1Animation3{
    from{
        width: 650px;
        height: 650px;
    }
    50%{
        width: 450px;
        height: 450px;
    }
    to{
        width: 650px;
        height: 650px;
    }
}
#right-h1{
    font-size:120px;
    color:rgb(44, 44, 44);
}
#start-p{
    color:grey;
    max-width: 600px;
    padding:10px;
}
#right-button{
    margin:20px 5px;
    padding:20px;
    background-color: rgb(153, 64, 226);
    border-radius: 25px;
}
a{
    text-decoration: none;
    color:rgb(19, 19, 19);
}
#right-button:hover{
    background-color: rgb(233, 0, 136);
}
#boyFallingDown{
    position: absolute;
    left:50%;
    z-index:-1;
}
#opis1{
    margin-top:125vh;
}
#opis1-h1{
    font-size:50px;
    color:rgb(44, 44, 44);
    text-align: center;
}
#opis1-p{
    text-align: center;
    color:grey;
    margin:50px auto;
    max-width: 70%;
}
#container{
    display:flex;
    justify-content: space-between;
    margin-top:70px;
}

#p1{
    border:2px solid violet;
    margin:40px;
    margin-top:50px;
    width: 30%;
    background-color: rgb(230, 230, 230);
    border-radius: 40px;
}
#opis1-p{
    padding:20px;
}
#sign-up-container{
    margin:auto;
    margin-top:200px;
    width: 40%;
    background-color: rgb(226, 226, 226);
    border-radius: 50px;
    border:2px solid violet;
}
.input{
    width: 50%;
    margin-left:25%;
    border: none;
    border-bottom: 1px solid black;
    height: 35px;
    background-color: rgb(230, 230, 230);
}
#input-p{
    margin-top:20px;
    margin-left:25%;
    padding:10px;
}
.checkbox{
    margin-bottom: 50px;
    padding:10px;
}
#submit{
    border: none;
    font-size:16px;
    font-weight: 500;
    border-radius: 30px;
    background-color: rgb(233, 0, 221);
    margin:40px;
    padding:20px;
    width: 50%;
    margin-left:25%;
}
#submit:hover{
    background-color: rgb(255, 36, 128);
}
#login-container{
    width: 40%;
    margin:auto;
    margin-top:200px;
    background-color: rgb(226, 226, 226);
    border-radius: 50px;
    text-align: center;
    padding:20px;
    border: 2px solid violet;
}
.input2{
    width: 60%;
    border:none;
    border-bottom: 1px solid black;
    height: 30px;
    background-color: rgb(230, 230, 230);
    margin:30px;
}
#submit2{
    width: 60%;
}
#submit2:hover{
    background-color: rgb(179, 0, 233);
}
.tableHeader{
    text-align: center;
    padding:10px 50px;
}
#table1,td,th{
    margin:auto;
    margin-top:100px;
    border: 1px solid black;
    border-collapse: collapse;
}